
/*
    popup,
    login,
    signup,
    main page
*/
/* Custom CSS
 * --------------------------------------- */
/*@import url('http://localhost/fonts/NotoSansKR-Black.otf');*/
/*@import url('http://localhost/fonts/NotoSansKR-Bold.otf');*/
/*@import url('http://localhost/fonts/NotoSansKR-Light.otf');*/
/*@import url('http://localhost/fonts/NotoSansKR-Medium.otf');*/
/*@import url('http://localhost/fonts/NotoSansKR-Thin.otf');*/


@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@charset "UTF-8";


html, body, #all {
    background:#f5f5f5 !important;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}


p:link, a:link{
    text-decoration: none;
}


header {
    position: fixed;
    top:0;
    width: 100%;
    height: 55px;
    background: black;
    overflow: hidden;
    z-index:100;
}
header, #sub-header > * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently*/
}

header div.info-content iframe {
    position: absolute;
    border: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0; }
header div.info-content .introbtn {
    z-index:1300;
    position: absolute;
    font-size: large;
    color: white;
    width: 200px;
    text-align: center;
    line-height: 54px;
    font-weight:bold;
    height: 45px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /*border: 3px solid lightgray;*/
    /*border-radius: 50px;*/
    cursor: pointer;
    /*opacity: .8; */
}
header #header-gnb {
    background-color:#000;
    position: absolute;
    min-width: 100px;
    height: 55px;
    left: 0;
    right: 0;
    bottom: 0;
    /*margin:0 20px 0 30px;*/


}
header #header-gnb > div {
    position: relative; }
header #header-gnb [class^=HeaderImg] {
    cursor: pointer;
    float: left;
    left: 0;
    bottom: 0;
    overflow: hidden; }
/*header #header-gnb [class^=HeaderImg] > a {
  font-size: 0;
  position: absolute;
  width: 100%;
  height: 100%; }*/
header #header-gnb .HeaderImg1 {
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header #header-gnb [class = MemberShipBtn0] { /* logo */
    float:left;
    left:30px;
}

header #header-gnb .MemberShipInput { /* logo */
    top:15px;
}

header #header-gnb  .MemberShipBtn1 { /* login sign up */
    text-align: center;
    float: right;
    top:0;
    bottom:0;
}
header #header-gnb  .MemberShipBtn1 .login-box{
    display: inline-block;
    margin-right: 19px;
    border: 1px solid rgba(255,255,255,0.5);
    padding: 3px 10px 5px 10px;
    border-radius: 3px;
}

header #header-gnb  .MemberShipBtn1 .signup-box{
    display: inline-block;
    padding: 3px 7px 5px 7px;
    background: #EE3B24;
    border-radius: 3px;
}

header #header-gnb .MemberShipBtn2 { /* user profile and name */
    font-size:16px;
    color:white;
    cursor: pointer;
    height: 28px;
    float: left;
}
header #header-gnb .MemberShipBtn2 #profile-mini{
    display:inline-block;
    top:50px;
    right:10px;
    height:28px;
    width:28px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header #header-gnb [class = MemberShipBtn3] { /* setting buttons */
    cursor: pointer;
    text-align: center;
}
/*header #header-gnb [class^=MemberShipBtn] > * {
    font-size: 20px; }*/
header #header-gnb [class^=MemberShipBtn] > [class^=MemberShipBtn] {
    cursor: pointer; }
header #header-gnb .MemberShipBtn0 > * {
    display:inline-block;
    color: white;
    margin:15px 13px 0 2px;
    cursor:pointer;
    font-size:15px;
}
header #header-gnb .MemberShipBtn1 > * {
    color: white; }

/*header #header-gnb [class ^= MemberShipBtn] > *:hover{*/
/*color:#ff8243;*/
/*}*/

#sub-header{
    position:fixed;
    top:45px;
    width:100%;
    background-color: #111111;
    opacity:0.8;
    height:40px;
    z-index:98;
}
#sub-header #container{
    max-width:1222px;
    margin: 0 auto;
    padding-left:30px;
    padding-right:30px;
    height:100%;
}

#sub-header #subclass{
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    width: 465px;
    height:100%;
}
#sub-header #subclass div{
    display:inline-block;
    opacity:1;
    height:100%;
    padding-left:20px;
    padding-right:20px;
    margin-left:20px;
    margin-right:20px;
}

#sub-header #subclass p{
    position:relative;
    top:5px;
    opacity:1;
}
#sub-header #container #subclass{
    color:white;
}

#sub-header #container #subclass > *:hover {
    color:#ff8243;
    cursor:pointer;
}





/* ------------ popup control -----------*/


.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.overlay .close:hover {
    color: orange;
}

.popup .content {
    max-height: 500px;
    overflow: auto;
}

.header img{
    height:70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*------------ signup part ------------*/

.terms-privacy input,
.SignUp input {
    border: none;
    height: 48px;
    outline: none;
    margin-top: 10px;
}

.SignUp span img {
    display: block;
    height: 30px;
    margin-top: 20px;
    margin-left: 6px;
}

.SignUp span[name="wrong"] {
    display: block;
    position: absolute;
    text-align: center;
    right:8%;
}

.SignUp input[type="text"],
.SignUp input[type="password"]{
    background-color: #fff;
    border-bottom: 2px solid whitesmoke;
    color: #363636;
    padding:10px;
    width: 88%;
    margin:10px 30px;
}

.terms-privacy input[type="submit"],
.SignUp input[type="submit"],
.SignUp input[type="button"]{
    background-color: #EF5350;
    color: white;
    width: 88%;
    margin: 15px 30px;
}


.SignUpText {
    color: black;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}


.g-recaptcha {
    margin: 7px 0 22px 32px;
    transform:scale(1);
    -webkit-transform:scale(1.1);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

.divider {
    width:100%;
    text-align:center;
    margin-top:12px;
    color : gray;
}


.divider hr {
    margin:8px;
    width:40%;
}

.line-left {
    float:left;
}

.line-right {
    float:right;
}

/* background video
        * --------------------------------------- */
#video {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

/* Section 1
 * --------------------------------------- */
.intro {
    position: absolute;
    margin: auto;
    padding-bottom: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    height: auto;
    z-index: -1;
}

.paper_cap {
    position: absolute;
    bottom: 0;
    float: left;
    width: 100%;
}

#section0 {
    background: none;
}

#section0 h1 {
    color: #444;
}


/* Section 2
 * --------------------------------------- */
#section1 {
    background-color: #56bc8a;
}

#section1 h1 {
    color: #fff;
}


/* Section 3
 * --------------------------------------- */
#section2 {
    background-color: #2C3E50;
}

#section2 h1 {
    color: #F2F2F2;
}

.login-signup-text{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    text-align: center;
}
.login-signup-text span{
    font-size: 17px;
    cursor:pointer;
}

.login-signup-text #login-text{
    margin-right:40px;
    color:white;
}

.login-signup-text #signup-text{
    margin-left:40px;
    color:white;
}

.login-signup-block {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    height: 40px;
    width: 400px;
    position: relative;
    transition: all 5s ease-in-out;
    padding-bottom: 0;
}

/*.arrow-up-left{*/
    /*margin-top:10px;*/
    /*position:absolute;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-left: 16px solid transparent;*/
    /*border-right: 16px solid transparent;*/
    /*border-bottom: 15px solid white;*/
    /*transition:0.2s;*/
    /*-webkit-transition:0.2s;*/
    /*-moz-transition:0.2s;*/
    /*right:calc(100% - 143px);*/
/*}*/

.SignUp{
    vertical-align: top;
  width:100%;
}