
/*
    popup,
    login,
    signup,
    main page
*/
/* Custom CSS
 * --------------------------------------- */
body {
    font-family: arial, helvetica;
    color: #F2F2F2;
    margin-top:50px;
}


p:link, a:link{
    text-decoration: none;
}

/* ------------ popup control -----------*/

.overlay {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    height: 350px;
    width: 400px;
    position: relative;
    transition: all 5s ease-in-out;

    -webkit-transition-property: height; /* Safari */
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-property: height;
    transition-duration: 0.2s;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

.overlay .close:hover {
    color: orange;
}

.popup .content {
    max-height: 500px;
    overflow: auto;
}

.header img{
    height:100px;
    margin-top:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*------------ signup part ------------*/


.SignUp input {
    border: none;
    height: 48px;
    outline: none;
    margin-top: 10px;
}

.SignUp span img {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    text-align: center;
    margin-top: 20px;
    margin-left: 6px;
}

.SignUp span[name="wrong"] {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    text-align: center;
    margin-left: 300px;
}

.SignUp input[type="text"],
.SignUp input[type="password"]{
    background-color: #fff;
    border-bottom: 2px solid whitesmoke;
    color: #363636;
    padding-left: 15px;
    width: 315px;
    margin-left:30px;
    margin-bottom: 10px;
}

.SignUp input[type="submit"] {
    background-color: #1FB5BF;
    color: #fff;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    width: 333px;
    margin-left: 33px;
}

.SignUpText {
    color: black;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}


.g-recaptcha {
    margin: 7px 0 22px 32px;
    transform:scale(1);
    -webkit-transform:scale(1.1);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}



.divider {
    width:100%;
    text-align:center;
    margin-top:12px;
    color : gray;
}

.divider hr {
    margin-left:auto;
    margin-right:auto;
    width:40%;
}

.left {
    float:left;
}

.right {
    float:right;
}

/* background video
        * --------------------------------------- */
#video {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

/* Section 1
 * --------------------------------------- */
.intro {
    position: absolute;
    margin: auto;
    padding-bottom: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 25%;
    height: auto;
    z-index: -1;
}

.paper_cap {
    position: absolute;
    bottom: 0;
    float: left;
    width: 100%;
}

#section0 {
    background: none;
}

#section0 h1 {
    color: #444;
}

#section0 p {
    color: #333;
    opacity: 0.4;
}

/* Section 2
 * --------------------------------------- */
#section1 {
    background-color: rgb(255, 255, 255);
}

#section1 h1 {
    color: #fff;
}

#section1 p {
    opacity: 0.8;
}

/* Section 3
 * --------------------------------------- */
#section2 {
    background-color: #2C3E50;
}

#section2 h1 {
    color: #F2F2F2;
}

#section2 p {
    opacity: 0.6;
}

.login-signup-text{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    text-align: center;
}
.login-signup-text span{
    font-size: 17px;
    cursor:pointer;
}

.login-signup-text #login-text{
    margin-right:40px;
}

.login-signup-text #signup-text{
    margin-left:40px;
}

.login-signup-block {
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    height: 40px;
    width: 400px;
    position: relative;
    transition: all 5s ease-in-out;
    padding-bottom: 0;
}

.arrow-up-left{
    margin-top:10px;
    position:absolute;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 15px solid white;
    transition:0.2s;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    right:calc(100% - 143px);
}

.SignUp{
    vertical-align: top;
    display: inline-block;
    width:400px;
}