<!--앨범-->
<div class="grid-item">
    <!--앨범사진-->
    <div class="albumP"><img src="image/album_p1.jpg" alt=""/></div>
    <!--앨범제목및 태그안내-->
    <div class="userinfo">
        <div class="userphoto">
            <div class="badge bg_orange">1</div>
            <img src="image/p1.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">눈물과 비</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#달콤한</span>
                    <span class="label label-primary">#Classic</span>
                    <span class="label label-primary">#jazz</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <!--공유및 종아요버튼외-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like_fill.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>

<!--노래가사가 짧은경우-->
<div class="grid-item">
    <div class="albumT">
        사랑해 아직도ddd<br>
        왜너를 잊지 못 하니<br><br>
        오랜 기억 속에 너를 생각하며<br>
        달려온 시간들 속에<br><br>
        필름처럼 지나온 너의 목소리가 들려와<br>
        I want you Only you<br><br>
        I want you Only you<br><br>
        I want you Only you<br><br>
        지금도 늦기 않았나?<br>
        다시 네게 다가가려해<br><br>
        변한 나의 모습이지만<br>
        받아주겠니 I love you<br>
    </div>
    <div class="userinfo">
        <div class="userphoto">
            <span class="badge bg_orange">2</span>
            <img src="image/p_no.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">다시 돌아온 사랑 사랑사랑</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#jazz</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like_fill.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>


<!--앨범-->
<div class="grid-item">
    <div class="albumP"><a href="#" data-toggle="modal" data-target="#myModal"><img src="image/sample1.png" alt=""/></a>
    </div>
    <div class="userinfo">
        <div class="userphoto">
            <div class="badge bg_orange">3</div>
            <img src="image/p2.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">눈물과 비</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#달콤한</span>
                    <span class="label label-primary">#Classic</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>

<!--노래가사보일경우-->
<div class="grid-item">
    <div class="albumT">
        사랑해 아직도<br>
        왜너를 잊지 못 하니<br><br>
        오랜 기억 속에 너를 생각하며<br>
        달려온 시간들 속에<br><br>
        필름처럼 지나온 너의 목소리가 들려와<br>
        I want you Only you<br><br>
        사랑해 아직도<br>
        왜너를 잊지 못 하니<br><br>
        오랜 기억 속에 너를 생각하며<br>
        달려온 시간들 속에<br><br>
        필름처럼 지나온 너의 목소리가 들려와<br>
        I want you Only you<br><br>
        지금도 늦기 않았나?<br>
        다시 네게 다가가려해<br><br>
        변한 나의 모습이지만<br>
        받아주겠니 I love you<br>
    </div>
    <div class="userinfo">
        <div class="userphoto">
            <span class="badge bg_orange">4</span>
            <img src="image/p3.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">다시 돌아온 사랑 사랑사랑</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#jazz</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like_fill.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>

<!--앨범-->
<div class="grid-item">
    <!--앨범사진-->
    <div class="albumP"><img src="image/album_p1.jpg" alt=""/></div>
    <!--앨범제목및 태그안내-->
    <div class="userinfo">
        <div class="userphoto">
            <div class="badge bg_orange">1</div>
            <img src="image/p1.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">눈물과 비</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#달콤한</span>
                    <span class="label label-primary">#Classic</span>
                    <span class="label label-primary">#jazz</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <!--공유및 종아요버튼외-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like_fill.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>

<!--노래가사가 짧은경우-->
<div class="grid-item">
    <div class="albumT">
        사랑해 아직도ddd<br>
        왜너를 잊지 못 하니<br><br>
        오랜 기억 속에 너를 생각하며<br>
        달려온 시간들 속에<br><br>
        필름처럼 지나온 너의 목소리가 들려와<br>
        I want you Only you<br><br>
        I want you Only you<br><br>
        I want you Only you<br><br>
        지금도 늦기 않았나?<br>
        다시 네게 다가가려해<br><br>
        변한 나의 모습이지만<br>
        받아주겠니 I love you<br>
    </div>
    <div class="userinfo">
        <div class="userphoto">
            <span class="badge bg_orange">2</span>
            <img src="image/p_no.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">다시 돌아온 사랑 사랑사랑</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#jazz</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like_fill.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>


<!--앨범-->
<div class="grid-item">
    <div class="albumP"><a href="#" data-toggle="modal" data-target="#myModal"><img src="image/sample1.png" alt=""/></a>
    </div>
    <div class="userinfo">
        <div class="userphoto">
            <div class="badge bg_orange">3</div>
            <img src="image/p2.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">눈물과 비</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#달콤한</span>
                    <span class="label label-primary">#Classic</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>

<!--노래가사보일경우-->
<div class="grid-item">
    <div class="albumT">
        사랑해 아직도<br>
        왜너를 잊지 못 하니<br><br>
        오랜 기억 속에 너를 생각하며<br>
        달려온 시간들 속에<br><br>
        필름처럼 지나온 너의 목소리가 들려와<br>
        I want you Only you<br><br>
        사랑해 아직도<br>
        왜너를 잊지 못 하니<br><br>
        오랜 기억 속에 너를 생각하며<br>
        달려온 시간들 속에<br><br>
        필름처럼 지나온 너의 목소리가 들려와<br>
        I want you Only you<br><br>
        지금도 늦기 않았나?<br>
        다시 네게 다가가려해<br><br>
        변한 나의 모습이지만<br>
        받아주겠니 I love you<br>
    </div>
    <div class="userinfo">
        <div class="userphoto">
            <span class="badge bg_orange">4</span>
            <img src="image/p3.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">다시 돌아온 사랑 사랑사랑</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#jazz</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like_fill.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>

<!--앨범-->
<div class="grid-item">
    <!--앨범사진-->
    <div class="albumP"><img src="image/album_p1.jpg" alt=""/></div>
    <!--앨범제목및 태그안내-->
    <div class="userinfo">
        <div class="userphoto">
            <div class="badge bg_orange">1</div>
            <img src="image/p1.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">눈물과 비</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#달콤한</span>
                    <span class="label label-primary">#Classic</span>
                    <span class="label label-primary">#jazz</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <!--공유및 종아요버튼외-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like_fill.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>

<!--노래가사가 짧은경우-->
<div class="grid-item">
    <div class="albumT">
        사랑해 아직도ddd<br>
        왜너를 잊지 못 하니<br><br>
        오랜 기억 속에 너를 생각하며<br>
        달려온 시간들 속에<br><br>
        필름처럼 지나온 너의 목소리가 들려와<br>
        I want you Only you<br><br>
        I want you Only you<br><br>
        I want you Only you<br><br>
        지금도 늦기 않았나?<br>
        다시 네게 다가가려해<br><br>
        변한 나의 모습이지만<br>
        받아주겠니 I love you<br>
    </div>
    <div class="userinfo">
        <div class="userphoto">
            <span class="badge bg_orange">2</span>
            <img src="image/p_no.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">다시 돌아온 사랑 사랑사랑</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#jazz</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like_fill.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>


<!--앨범-->
<div class="grid-item">
    <div class="albumP"><a href="#" data-toggle="modal" data-target="#myModal"><img src="image/sample1.png" alt=""/></a>
    </div>
    <div class="userinfo">
        <div class="userphoto">
            <div class="badge bg_orange">3</div>
            <img src="image/p2.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">눈물과 비</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#달콤한</span>
                    <span class="label label-primary">#Classic</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>

<!--노래가사보일경우-->
<div class="grid-item">
    <div class="albumT">
        사랑해 아직도<br>
        왜너를 잊지 못 하니<br><br>
        오랜 기억 속에 너를 생각하며<br>
        달려온 시간들 속에<br><br>
        필름처럼 지나온 너의 목소리가 들려와<br>
        I want you Only you<br><br>
        사랑해 아직도<br>
        왜너를 잊지 못 하니<br><br>
        오랜 기억 속에 너를 생각하며<br>
        달려온 시간들 속에<br><br>
        필름처럼 지나온 너의 목소리가 들려와<br>
        I want you Only you<br><br>
        지금도 늦기 않았나?<br>
        다시 네게 다가가려해<br><br>
        변한 나의 모습이지만<br>
        받아주겠니 I love you<br>
    </div>
    <div class="userinfo">
        <div class="userphoto">
            <span class="badge bg_orange">4</span>
            <img src="image/p3.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">다시 돌아온 사랑 사랑사랑</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#jazz</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like_fill.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>

<!--앨범-->
<div class="grid-item">
    <!--앨범사진-->
    <div class="albumP"><img src="image/album_p1.jpg" alt=""/></div>
    <!--앨범제목및 태그안내-->
    <div class="userinfo">
        <div class="userphoto">
            <div class="badge bg_orange">1</div>
            <img src="image/p1.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">눈물과 비</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#달콤한</span>
                    <span class="label label-primary">#Classic</span>
                    <span class="label label-primary">#jazz</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <!--공유및 종아요버튼외-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like_fill.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>

<!--노래가사가 짧은경우-->
<div class="grid-item">
    <div class="albumT">
        사랑해 아직도ddd<br>
        왜너를 잊지 못 하니<br><br>
        오랜 기억 속에 너를 생각하며<br>
        달려온 시간들 속에<br><br>
        필름처럼 지나온 너의 목소리가 들려와<br>
        I want you Only you<br><br>
        I want you Only you<br><br>
        I want you Only you<br><br>
        지금도 늦기 않았나?<br>
        다시 네게 다가가려해<br><br>
        변한 나의 모습이지만<br>
        받아주겠니 I love you<br>
    </div>
    <div class="userinfo">
        <div class="userphoto">
            <span class="badge bg_orange">2</span>
            <img src="image/p_no.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">다시 돌아온 사랑 사랑사랑</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#jazz</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like_fill.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>


<!--앨범-->
<div class="grid-item">
    <div class="albumP"><a href="#" data-toggle="modal" data-target="#myModal"><img src="image/sample1.png" alt=""/></a>
    </div>
    <div class="userinfo">
        <div class="userphoto">
            <div class="badge bg_orange">3</div>
            <img src="image/p2.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">눈물과 비</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#달콤한</span>
                    <span class="label label-primary">#Classic</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>

<!--노래가사보일경우-->
<div class="grid-item">
    <div class="albumT">
        사랑해 아직도<br>
        왜너를 잊지 못 하니<br><br>
        오랜 기억 속에 너를 생각하며<br>
        달려온 시간들 속에<br><br>
        필름처럼 지나온 너의 목소리가 들려와<br>
        I want you Only you<br><br>
        사랑해 아직도<br>
        왜너를 잊지 못 하니<br><br>
        오랜 기억 속에 너를 생각하며<br>
        달려온 시간들 속에<br><br>
        필름처럼 지나온 너의 목소리가 들려와<br>
        I want you Only you<br><br>
        지금도 늦기 않았나?<br>
        다시 네게 다가가려해<br><br>
        변한 나의 모습이지만<br>
        받아주겠니 I love you<br>
    </div>
    <div class="userinfo">
        <div class="userphoto">
            <span class="badge bg_orange">4</span>
            <img src="image/p3.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">다시 돌아온 사랑 사랑사랑</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#jazz</span>
                    <span class="label label-primary">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like_fill.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>

<!--앨범-->
<div class="grid-item">
    <div class="albumP"><img src="image/album_p4.jpg" alt=""/></div>
    <div class="userinfo">
        <div class="userphoto">
            <div class="badge bg_orange">5</div>
            <img src="image/p4.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_title">눈물과 비</span></li>
                <li><span class="music_name">Andrew</span></li>
                <li class="music_tag">
                    <span class="label label-primary">#달콤한</span>
                    <span class="label label-primary">#몽환</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info bg_beige">
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/like.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span class="col-sm-4"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
    </div>
</div>





<!--앨범-->
<div class="grid-item">

    <div class="user">
        <div class="userphoto">
            <!--                            <div class="badge bg_orange">3</div>-->
            <img src="image/p2.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_name">Andrew</span></li>
            </ul>
        </div>
    </div>


    <div class="albumP"><a href="#" onclick="appendPopUp()" data-toggle="modal" data-target="#myModal" ><img src="image/sample1.png" alt=""/></a>
    </div>
    <div class="userinfo">
        <div class="musictext">
            <ul>
                <li><span class="music_title">그냥 그저그런 노래 ..</span></li>
                <li class="music_tag">
                    <span class="label f_dwhite">#달콤한</span>
                    <span class="label f_dwhite">#Classic</span>
                    <span class="label f_dwhite">#jazz</span>
                    <span class="label f_dwhite">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info" style="background: ugba(0,0,0,0)">
        <span style="position:relative;min-height:1px;padding-right:5px;padding-left:5px; float:right; width:15.33333333%;"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
        <span style="position:relative;min-height:1px;padding-right:5px;padding-left:5px; float:right; width:15.33333333%;"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span style="position:relative;min-height:1px;padding-right:5px;padding-left:5px; float:right; width:15.33333333%;"><a href="#"><img src="icon/Details_Content/like.svg" class="w20px"/></a></span>
    </div>
</div>
<!--앨범-->
<div class="grid-item" style="background-color:rgba(255,255,255,0.1)">

    <div class="user">
        <div class="userphoto">
            <!--                            <div class="badge bg_orange">3</div>-->
            <img src="image/p2.jpg" class="img-circle">
        </div>
        <div class="musictext">
            <ul>
                <li><span class="music_name">Andrew</span></li>
            </ul>
        </div>
    </div>


    <div class="albumP"><a href="#" onclick="appendPopUp()" data-toggle="modal" data-target="#myModal" ><img src="image/sample1.png" alt=""/></a>
    </div>
    <div class="userinfo">
        <div class="musictext">
            <ul>
                <li><span class="music_title">그냥 그저그런 노래 ..</span></li>
                <li class="music_tag">
                    <span class="label f_dwhite">#달콤한</span>
                    <span class="label f_dwhite">#Classic</span>
                    <span class="label f_dwhite">#jazz</span>
                    <span class="label f_dwhite">#jazz</span>
                </li>
            </ul>
        </div>
    </div><!--//userinfo-->
    <div class="btm_info" style="background: ugba(0,0,0,0)">
        <span style="position:relative;min-height:1px;padding-right:5px;padding-left:5px; float:right; width:15.33333333%;"><a href="#"><img src="icon/Details_Content/share.svg" class="w20px"/></a></span>
        <span style="position:relative;min-height:1px;padding-right:5px;padding-left:5px; float:right; width:15.33333333%;"><a href="#"><img src="icon/Details_Content/Comment.svg" class="w20px"/></a></span>
        <span style="position:relative;min-height:1px;padding-right:5px;padding-left:5px; float:right; width:15.33333333%;"><a href="#"><img src="icon/Details_Content/like.svg" class="w20px"/></a></span>
    </div>
</div>

