@charset "UTF-8";
/* 변수 지정 */
/* 함수 */
html {
  width: 100%;
  height: 100%;
  background-size: cover; }

/* ***************************
            헤더 영역 
   *************************** */
header {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #417e8d;
  box-shadow: rgba(50, 50, 50, 0.7) 0 0px 10px 5px;
  overflow: hidden; }
  header div.info-content iframe {
    position: absolute;
    border: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0; }
  header div.info-content .introbtn {
    position: absolute;
    font-size: x-large;
    color: lightgray;
    width: 150px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    left: 0;
    right: 0;
    bottom: 15%;
    margin: auto;
    border: 3px solid lightgray;
    border-radius: 50px;
    cursor: pointer;
    opacity: .8; }
  header #header-gnb {
    position: absolute;
    margin: auto;
    width: 80%;
    min-width: 400px;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0; }
    header #header-gnb > div {
      position: relative; }
    header #header-gnb [class^=HeaderImg] {
      cursor: pointer;
      float: left;
      left: 0;
      bottom: 0;
      overflow: hidden; }
      header #header-gnb [class^=HeaderImg] > a {
        font-size: 0;
        position: absolute;
        width: 100%;
        height: 100%; }
    header #header-gnb .HeaderImg0 {
      background: url("../img/btnicon/home.png");
      background-size: 100px 100px;
      width: 100px;
      height: 100px; }
    header #header-gnb .HeaderImg1 {
      background: url("../img/simbol/logo_s.png") center center no-repeat;
      background-size: 400px 100px;
      width: 400px;
      height: 100px; }
    header #header-gnb .HeaderImg2 {
      background: url("../img/btnicon/닫기표시.png") center center no-repeat;
      background-size: 100px 100px;
      width: 100px;
      height: 100px; }
    header #header-gnb [class^=MemberShipBtn] {
      float: right; }
      header #header-gnb [class^=MemberShipBtn] > * {
        line-height: 100px;
        font-size: 40px; }
      header #header-gnb [class^=MemberShipBtn] > [class^=MemberShipBtn] {
        cursor: pointer; }
    header #header-gnb .MemberShipBtn0 > * {
      color: black; }
    header #header-gnb .MemberShipBtn1 > * {
      color: lightgray; }
    header #header-gnb .SearchBox {
      height: 100px;
      float: right; }
      header #header-gnb .SearchBox [class^=SearchBtn] {
        position: absolute;
        margin: auto;
        left: auto;
        top: auto;
        right: 0;
        bottom: auto; }
      header #header-gnb .SearchBox .SearchBtn0 {
        background: url("../img/btnicon/언어 선택 아이콘.png") right center no-repeat;
        background-size: 100px 100px;
        width: 100px;
        height: 100px; }
      header #header-gnb .SearchBox input {
        float: left;
        line-height: 70px;
        border: 0;
        border-bottom: 2px solid lightgray;
        background: none;
        width: 200px;
        padding-top: 10px;
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        outline: none;
        color: white; }

/* **************************
     네비게이션 바 
   ************************** */
nav {
  position: absolute;
  z-index: -1;
  width: 8%;
  height: 100%;
  cursor: pointer;
  padding-top: 100px;
  box-sizing: border-box;
  filter: blur; }

.MoveContentMusic {
  margin: auto;
  left: 0;
  top: auto;
  right: auto;
  bottom: auto;
  background: url("../img/btnicon/view_album.png") center center no-repeat;
  background-size: 50%;
  background-color: rgba(0, 0, 0, 0.6); }

.MoveContentStudio {
  margin: auto;
  left: auto;
  top: auto;
  right: 0;
  bottom: auto;
  background-size: 50%;
  background-color: rgba(0, 0, 0, 0.6); }
  .MoveContentStudio .StudioLnb {
    position: relative;
    width: 100%;
    height: 100%; }
    .MoveContentStudio .StudioLnb div {
      position: relative;
      width: 100%;
      height: 20%;
      color: lightgray;
      text-align: right;
      padding: 10px;
      box-sizing: border-box; }
    .MoveContentStudio .StudioLnb div:first-child {
      background: url("../img/btnicon/0.all.png") center center no-repeat;
      background-size: 50%; }
      .MoveContentStudio .StudioLnb div:first-child:hover {
        background-size: 60%;
        background-color: rgba(102, 102, 102, 0.6);
        font-size: 0; }
    .MoveContentStudio .StudioLnb div:nth-child(2) {
      background: url("../img/btnicon/1.story.png") center center no-repeat;
      background-size: 50%; }
      .MoveContentStudio .StudioLnb div:nth-child(2):hover {
        background-size: 60%;
        background-color: rgba(102, 102, 102, 0.6);
        font-size: 0; }
    .MoveContentStudio .StudioLnb div:nth-child(3) {
      background: url("../img/btnicon/2.melody.png") center center no-repeat;
      background-size: 50%; }
      .MoveContentStudio .StudioLnb div:nth-child(3):hover {
        background-size: 60%;
        background-color: rgba(102, 102, 102, 0.6);
        font-size: 0; }
    .MoveContentStudio .StudioLnb div:nth-child(4) {
      background: url("../img/btnicon/3.player.png") center center no-repeat;
      background-size: 50%; }
      .MoveContentStudio .StudioLnb div:nth-child(4):hover {
        background-size: 60%;
        background-color: rgba(102, 102, 102, 0.6);
        font-size: 0; }
    .MoveContentStudio .StudioLnb div:last-child {
      background: url("../img/btnicon/4.photo.png") center center no-repeat;
      background-size: 50%; }
      .MoveContentStudio .StudioLnb div:last-child:hover {
        background-size: 60%;
        background-color: rgba(102, 102, 102, 0.6);
        font-size: 0; }

/* **********************************
             컨텐츠 박스
   ********************************** */
content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -3; }
  content .container {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    padding-top: 100px;
    box-sizing: border-box;
    width: 84%;
    overflow: hidden; }
    content .container > * {
      position: relative;
      float: left;
      padding: 5px;
      box-sizing: border-box; }
      content .container > * > * {
        position: relative;
        clear: both; }
    content .container article {
      width: 25%;
      height: 100%;
      overflow-wrap: break-word;
      color: white; }
      content .container article.MyPage {
        padding-right: 2.5px;
        box-sizing: border-box;
        float: left; }
      content .container article.MixPage {
        display: none;
        padding-right: 2.5px;
        box-sizing: border-box;
        float: left; }
    content .container #music_content_box {
      width: 75%;
      height: 100%;
      background: rgba(255, 255, 255, 0.3); }

/* **********************************
             플레이 바
   ********************************** */
.PlayBar {
  z-index: -1;
  position: absolute;
  background: #417e8d;
  opacity: .8;
  width: 100%;
  height: 140px;
  bottom: 0;
  overflow: hidden; }
  .PlayBar .container {
    margin: 0 auto;
    width: 80%;
    min-width: 900px; }
    .PlayBar .container div {
      font-size: 0; }
    .PlayBar .container .controler {
      position: relative;
      width: auto;
      height: 100%; }
      .PlayBar .container .controler div:first-child {
        position: relative;
        float: left;
        width: 140px;
        height: 140px;
        background: url("../img/btnicon/이전곡.png") right center no-repeat;
        background-size: 98px;
        cursor: pointer; }
      .PlayBar .container .controler div:nth-child(2) {
        position: relative;
        background: url("../img/btnicon/재생.png") center center no-repeat;
        width: 140px;
        height: 140px;
        background-size: 98px;
        cursor: pointer;
        float: left; }
      .PlayBar .container .controler div:last-child {
        position: relative;
        float: left;
        width: 140px;
        height: 140px;
        background: url("../img/btnicon/다음곡.png") left center no-repeat;
        background-size: 98px;
        cursor: pointer; }
    .PlayBar .container .albumart {
      position: relative;
      float: left;
      width: 140px;
      height: 140px;
      background: url("../img/btnicon/albumart.png") center center no-repeat;
      background-size: 126px;
      margin-right: 20px; }
    .PlayBar .container .musicinfo {
      position: relative;
      width: auto;
      height: 100%;
      z-index: -1; }
      .PlayBar .container .musicinfo .genre {
        position: relative;
        font-size: 18px;
        margin-bottom: -5px; }
      .PlayBar .container .musicinfo .songname {
        position: relative;
        font-size: 25px;
        margin-bottom: -80%; }
      .PlayBar .container .musicinfo div:last-child {
        position: relative;
        float: left;
        width: 65%;
        height: 7px;
        left: 0;
        right: 0;
        background: white;
        top: 110px;
        border-radius: 100px; }
        .PlayBar .container .musicinfo div:last-child .playtime {
          position: relative;
          font-size: 20px;
          text-align: right;
          float: right;
          bottom: 30px;
          background: none; }
        .PlayBar .container .musicinfo div:last-child .pointer {
          position: absolute;
          width: 18px;
          height: 18px;
          background: lightgray;
          border-radius: 50%;
          overflow: visible;
          transform: translate(-50%, 0%);
          box-sizing: border-box;
          border: 3px solid white;
          margin: auto;
          left: 4%;
          top: 0;
          right: auto;
          bottom: 0;
          z-index: 1; }
        .PlayBar .container .musicinfo div:last-child .playPast {
          position: absolute;
          background: red;
          top: 0;
          border-radius: 140px;
          width: 4%;
          height: 100%; }
        .PlayBar .container .musicinfo div:last-child .playFuture {
          position: absolute;
          background: lightgray;
          top: 0;
          border-radius: 140px;
          width: 10%;
          height: 100%; }

/*# sourceMappingURL=mobile.css.map */
