@charset "UTF-8";
/* 변수 지정 */
/* 함수 */
/*html {
  width: 100%;
  height: 100%;
  background-size: cover; }*/

/* ***************************
            헤더 영역 
   *************************** */
header {
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background: black;
    /*box-shadow: rgba(50, 50, 50, 0.7) 0 0px 10px 5px;*/
    overflow: hidden;
    z-index:100;

}
header, #sub-header > * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently*/
}

header div.info-content iframe {
    position: absolute;
    border: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0; }
header div.info-content .introbtn {
    position: absolute;
    font-size: x-large;
    color: lightgray;
    width: 150px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    left: 0;
    right: 0;
    bottom: 15%;
    margin: auto;
    border: 3px solid lightgray;
    border-radius: 50px;
    cursor: pointer;
    opacity: .8; }
header #header-gnb {
    background-color:black;
    position: absolute;
    margin: auto;
    width: 1222px;
    min-width: 400px;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
}
header #header-gnb > div {
    position: relative; }
header #header-gnb [class^=HeaderImg] {
    cursor: pointer;
    float: left;
    left: 0;
    bottom: 0;
    overflow: hidden; }
/*header #header-gnb [class^=HeaderImg] > a {
  font-size: 0;
  position: absolute;
  width: 100%;
  height: 100%; }*/
header #header-gnb .HeaderImg1 {
    height: 50px; }
header #header-gnb [class = MemberShipBtn0] { /* logo */
    float:left;
    left:30px;
}

header #header-gnb [class = MemberShipBtn1] { /* login sign up */
    float: right; }
header #header-gnb [class = MemberShipBtn2] { /* user profile and name */
    display: inline-block;
    float:right;
    font-size:20px;
}
header #header-gnb [class = MemberShipBtn2] #profile-mini{
    display:inline-block;
    top:50px;
    right:10px;
    height:30px;
    width:30px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header #header-gnb [class = MemberShipBtn3] { /* setting buttons */
    display: inline-block;
    float: right;
}
header #header-gnb [class = MemberShipBtn3] img {
    margin-left:15px;
}
header #header-gnb [class^=MemberShipBtn] > * {
    font-size: 20px; }
header #header-gnb [class^=MemberShipBtn] > [class^=MemberShipBtn] {
    cursor: pointer; }
header #header-gnb .MemberShipBtn0 > * {
    display:inline-block;
    color: white;
    margin:15px 13px 0 2px;
    cursor:pointer;
    font-size:15px;
}
header #header-gnb .MemberShipBtn1 > * {
    color: white; }

header #header-gnb [class ^= MemberShipBtn] > *:hover{
    color:#ff8243;
}

#sub-header{
    position:fixed;
    top:45px;
    width:100%;
    background-color: #111111;
    opacity:0.8;
    height:30px;
    z-index:98;
}
#sub-header #container{
    width:1222px;
    margin: 0 auto;
    height:100%;
}

#sub-header #subclass{
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    width: 465px;
    height:100%;
}
#sub-header #subclass div{
    display:inline-block;
    opacity:1;
    height:100%;
    padding-left:20px;
    padding-right:20px;
    margin-left:20px;
    margin-right:20px;
}

#sub-header #subclass p{
    position:relative;
    top:5px;
    opacity:1;
}
#sub-header #container #subclass{
    color:white;
}

#sub-header #container #subclass > *:hover {
    color:#ff8243;
    cursor:pointer;
}

